<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1>Ask Your Stupid Question</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <p>Ask a question if you dare...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form class="form-inline" action="/answer" method="get">
        <input type="text" class="form-control" name="question" placeholder="Your question?">
        <input type="submit" class="btn btn-primary" value="Ask!">
      </form>
    </div>
  </div>
</div>
